* {
  padding: 0;
  margin: 25px auto;
  text-align: center;
}

#quoteInput {
  resize: none;
  height: 200px;
  width: 50%;
  padding: 15px;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
  text-decoration: line-through;
}
